@section pagecss {
    @Html.IncludeVersionedCss("/pages/admin-hours.css")  
}
@section pagejs {
    @Html.IncludeVersionedJs("/pages/admin-hours-model.js")
    @Html.IncludeVersionedJs("/pages/admin-hours.js")
}

<div id="contentWrap">
    <div class="sectionbox">
        <div class="heading-blue">
            <h5>Hours Upload</h5>
        </div>
        <div class="well-content">
            <table class="headerTable">
                <tr>
                    <td class="innerHeaderSpacer">
                        <div class="pull-right">
                            <label id="hoursSaved" class="message confirm">Hours Imported! Failed hours displayed below.</label>
                            <label id="noHours" class="message failed">Must have hours uploaded to save.</label>
                        </div>
                    </td>
                    <td><button id="saveHours" class="smallbutton" style="width: 100px; margin-left: 5px">Import Hours</button></td>
                    <td><button id="exportHours" class="smallbutton" style="width: 100px">Export Hours</button></td>
                </tr>
            </table>
            <div id="hoursUpload">
                <input id="hoursUploadFile" name="hoursUploadFile" type="file" />
            </div>
            <div id="hoursUploadGrid"></div>
        </div>
    </div>
</div>

