@section pagecss {
    @Html.IncludeVersionedCss("/pages/admin-winners.css")
}

@section pagejs {
    @Html.IncludeVersionedJs("/pages/admin-winners-model.js")
    @Html.IncludeVersionedJs("/pages/admin-winners.js")
}
<div id="contentWrap">
    <div class="sectionbox">
        <div class="heading-blue">
            <h5>Add Winners</h5>
        </div>
        <div class="content-box">
            <div id="grdLinks"></div>
        </div>
    </div>
</div>
