<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="P1PContext" connectionString="metadata=res://*/P1PContext.csdl|res://*/P1PContext.ssdl|res://*/P1PContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\LOCAL;initial catalog=p1pLinkTracker;user id=sa;password=p1pRoot;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SecurityContext" connectionString="metadata=res://*/SecurityContext.csdl|res://*/SecurityContext.ssdl|res://*/SecurityContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLExpress;initial catalog=p1pmembership;persist security info=True;user id=sa;password=p1pRoot;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>