#articleFilterOptions td{
    padding: 8px;
}

#articleFilterOptions input{
    margin: 0 5px 0 0;
}

#article-content{
    width: 100%;
}

#articlestatus{
    margin: 0 0 10px 0;
}

.whitelabel{
    font-size: 1.2em;
    font-weight: 600;
}

#wdwnewarticle{
    display: none;
}

#articleparameters{
    margin: 0 0 7px 0;
}

.inputmargin {
    margin: 0 5px 0 15px;
}

